@page "/desenvolvedor/editar/{desenvolvedorid:int}"
@inject NavigationManager navigation
@inject IDesenvolvedorServico desenvolvedorService

<h2>Editar Desenvolvedor</h2>

<EditForm Model="@Desenvolvedor" OnValidSubmit="@EditarDesenvolvedor">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label form="id">ID: </label>
        <div>
            <input type="text" @bind="@Desenvolvedor.Id" readonly="readonly" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label form="nome">Nome: </label>
        <div>
            <InputText @bind-Value="@Desenvolvedor.Nome" class="form-control" />
            <ValidationMessage For="@(()=> Desenvolvedor.Nome)" />
        </div>
    </div>
    <br />

    <button type="submit" class="btn btn-success"> @ButtonTextSubmit </button>
    <button class="btn btn-danger" @onclick="@Cancelar">@ButtonTextCancelar</button>
</EditForm>

@code{
    [Parameter]
    public int desenvolvedorid { get; set; }

    public DesenvolvedorModel Desenvolvedor = new DesenvolvedorModel();

    public string ButtonTextSubmit { get; set; } = "Salvar";
    public string ButtonTextCancelar { get; set; } = "Cancelar";
    public EventCallback OnValidSubmit { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        Desenvolvedor = await desenvolvedorService.GetById(desenvolvedorid);
    }

    private async Task EditarDesenvolvedor()
    {
        await desenvolvedorService.EditarAsync(Desenvolvedor);
        navigation.NavigateTo("desenvolvedor");
    }

    private void Cancelar()
    {
        navigation.NavigateTo("desenvolvedor");
    }
}