@model IEnumerable<Lançador_de_Horas_WebAPI.Models.RegistroDeHoras>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro de Horas</h1>

<p>
    <a asp-action="Create">Lançar horas</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalHoras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desenvolvedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projeto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalHoras)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Desenvolvedor.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Projeto.NomeDoProjeto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>