@page
@model LH001.Pages.LancamentoHora.IndexModel
@{
    Layout = "_Layout";
}
<div style="width: 93%;padding-left: 7%;">
    <form method="post">
        <div class="row">
            <div class="col-3">
                <label for="Id_Projeto" class="form-label">Projeto:</label>
                <select id="Id_Projeto" class="form-select">
                    <option value="">-- Selecione --</option>
                    @foreach (var item in Model.ListProjeto)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
                <div class="col-8">
                    <label for="Desenvolvedor" class="form-label">Desenvolvedor:</label>
                    <input class="form-control" list="datalistOptions" id="DataList" placeholder="Digite o nome...">
                    <datalist id="datalistOptions">
                    </datalist>
                </div>

        </div>
        <div class="col-12" style="padding-top: 30px;">
            <p class="fa-pull-right">
                <a href="@Url.Action("Index", "LancamentoHora")" class="btn btn-secondary"> Limpar</a>
                <a onclick="Buscar();" class="btn btn-primary"><i class="fas fa-search"></i> Pesquisar</a>
            </p>
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Desenvolvedor</th>
                <th scope="col">Projeto</th>
                <th scope="col">Data de Inicio</th>
                <th scope="col">Data do Fim</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbBusca">
            @if (Model.modalResult.Count() == 0)
            {
                <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Nenhum resultado encontrado.</td>
                </tr>
            }
            @foreach (var item in Model.modalResult)
            {
        <tr>
            <td>@item.Tb_Desenvolvedor_Projeto.Tb_Desenvolvedor.Nome</td>
            <td>@item.Tb_Desenvolvedor_Projeto.Tb_Projeto.Nome</td>
            <td>@item.DataInicio</td>
            <td>@item.DataFim</td>
            <td><a class="btn btn-secondary" href="/LancamentoHora/Adicionar?Id=@item.Id"><i class="fa fa-info"></i></a></td>
            <td><a class="btn btn-secondary" onclick="Deletar(@item.Id)"><i class="fas fa-trash"></i></a></td>
        </tr>
            }
        </tbody>
    </table>
    <div class="col-12">
        <p class="fa-pull-right">
            <a class="btn btn-success" href="/LancamentoHora/Adicionar"><i class="fas fa-plus-circle"></i> Adicionar</a>
        </p>
    </div>
</div>

@section Scripts {
    <script asp-append-version="true">
        $(document).ready(function () {
            $.getJSON("?handler=ListaDesenvolvedor", (data) => {
                $("#datalistOptions").empty();
                if (data.result.length != 0) {
                    $.each(data.result, function (key, value) {
                        $("#datalistOptions").append(
                            '<option value="' + value.nome + '">'
                        );
                    });
                }
            });
        });

        function Buscar() {
            $.getJSON("?handler=Buscar&Id_Projeto=" + $("#Id_Projeto").val() + "&NomeDesenv=" + $("#DataList").val(), (data) => {
                $("#tbBusca").empty();
                if (data.result.length != 0) {
                    $.each(data.result, function (key, value) {
                        $("#tbBusca").append(
                            '<tr>'
                            + '<td>' + value.tb_Desenvolvedor_Projeto.tb_Desenvolvedor.nome + '</td>'
                            + '<td>' + value.tb_Desenvolvedor_Projeto.tb_Projeto.nome + '</td>'
                            + '<td>' + value.dataInicio + '</td>'
                            + '<td>' + value.dataFim + '</td>'
                            + '<td>' + '<td><a class="btn btn-secondary" href="/LancamentoHora/Adicionar?Id=' + value.id + '"><i class="fa fa-info"></i></a></td>'
                            + '<td>' + '<a class="btn btn-secondary" onclick="Deletar(' + value.id + ')"><i class="fas fa-trash"></i></a>'
                            + '</tr>'
                        );
                    });
                }
                else {
                    $("#tbBusca").append(
                        '<tr>'
                        + '<td></td>'
                        + '<td></td>'
                        + '<td></td>'
                        + '<td></td>'
                        + '<td>Nenhum resultado encontrado.</a>'
                        + '</tr>'
                    );
                }
            });
        }

        function Deletar(id) {
            $.getJSON("?handler=Deletar&id=" + id, (data) => {
                if (data.ok) {
                    $(".modal-body").text("Excluído com sucesso!");
                    $("#BtnModal").click();
                    Buscar();
                }
                else {
                    $(".modal-body").text(data.msg);
                    $("#BtnModal").click();
                }

            });
        }
    </script>
}